// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', Roboto;
$font-size-base: 1.0rem;
$line-height-base:1.6;

// Colors
$blue: #006064;
$indigo: #1A237E;
$purple: #4A148C;
$pink: #880E4F;
$red:#B71C1C;
$orange: #DD2C00;
$yellow: #FFD600;
$green: #2E7D32;
$teal: #00796B;
$cyan: #00838F;
$black: black;

$primary: #006064;
$secondary: #004D40;
$info: #006064;
$danger: #D50000;
$warning: #ffc800;
$success: #00695C;
$dark:black;
$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
// Bootstrap
@import "bootstrap/scss/bootstrap";
@import "admin-lte/dist/css/adminlte.css";
//FontAwesome
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";
//Material-icons
@import "material-design-icons/iconfont/material-icons.css";
@import "datepicker.css";

